
{% extends 'layout.html' %}

{% block css %}
<style>

    body{
        background-image: url('https://thumbs.dreamstime.com/b/black-brick-wall-dark-background-design-gloomy-stone-texture-84568943.jpg')
    }
</style>
{% endblock %}

{% block body %}

<div class="container">
    <p class="display-4 text-light">Welcome to Homepage</p>
</div>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to Twitter Sentiment Ananlysis</h1>
        <p class="h4">Analyse Sentiment of Tweets</p>
        <hr class="my-2">
        <p>More info</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
        </p>
    </div>
</div>

{% endblock %}
