{% extends 'layout.html' %}

{% block css %}{% endblock %}

{% block body %}

<div class="container-fluid">
    <input type="hidden" name="labels">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <canvas id="sub" width="400px" height="400px"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <canvas id="pol" width="400px" height="400px"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    
    $(document).ready(() => {
        getData();
        
    });
    
    getData = () => {
        $.ajax({
            url: '/getpoldata',
            success: function(data) {
                console.log(data);
                drawDoughnut(data[0]);
                drawBar(data[1]);
            }
        });
    }
    
    var polchart = document.getElementById('pol').getContext('2d');
    var subchart = document.getElementById('sub').getContext('2d');
    //     var myDoughnutChart = new Chart(ctx, {
        //     type: 'doughnut',
        //     data: data,
        //     options: options
        // });
        drawDoughnut = (data) => {
            var myChart = new Chart(polchart, {
                type: 'doughnut',
                data: {
                    labels: Object.keys(data),
                    datasets: [{
                        label: '# of Votes',
                        data: Object.values(data),
                        backgroundColor: [
                        'rgba(255, 10, 10, 0.3)',
                        'rgba(100, 100, 100, 0.3)',
                        'rgba(0, 255, 0, 0.3)',
                        
                        ],
                        borderColor: [
                        '#f00',
                        '#555',
                        '#0f0'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }
        
        drawBar = (datas) => {
            var myBarChart = new Chart(subchart, {
                type: 'bar',
                data: {
                    labels: ['1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1'],
                    datasets: [{
                    label: 'subjectivity',
                    data: datas,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)'
                    ],
                    borderWidth: 1
                    }]
                },
                options: {
                    // responsive: false,
                    scales: {
                    xAxes: [{
                        ticks: {
                        maxRotation: 90,
                        minRotation: 80
                        }
                    }],
                    yAxes: [{
                        ticks: {
                        beginAtZero: true
                        }
                    }]
                    }
                }
            })
        }
    </script>
    
    {% endblock %}
   